:root {
    --text-pink: #efefef;
    --text-purple: rgba(164, 73, 213, 0.91);
}
body{
    background: linear-gradient(to right, #eaeaea, rgba(0, 0, 0, 0.55));
}
.btn-1{
    background-color: #373737;
    color: white;

}
.btn-1:hover{
    background-color: #535353;
    color: white;
}
.welcome-info{
    background-image: url("../images/background.jpg");
    height: 80vh;
    background-size: cover ;
    background-position: center;
}
.text-pink{
    color: var(--text-pink);
}
.text-purple{
    color: var(--text-purple);
}
@media only screen and (max-width: 765px){
    .cara{
        border-bottom: 2px solid #000000;
    }

}
@media only screen and (min-width: 765px){
    .cara{
        border-right: 2px solid #000000;
    }

}
footer a i {
    transition: transform 0.3s ease;
}

footer i:hover {
    transform: scale(1.4);
}

.form-control:focus {
    box-shadow: none;
    border-color: #373737;
}
.form-check-input:checked{
    background-color: #373737;
    border: none;
}
.form-check-input:focus{
    box-shadow: none;
    border-color: #373737;
}